<p id="notice"><%= notice %></p>


<%= link_to 'download', {:action => 'download', :id => @book.id}, :class => 'post-card-download' %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
